.movie-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-pagination-container button {
  all: unset;
  color: #9300ce;
  font-weight: bold;
  background-color: #d5b9e1;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.movie-pagination-container button:hover {
  background-color: #ccafda;
}
.curr-page {
  background-color: #d5b9e1;
  color: #9300ce;
  margin: 1rem 1rem;
  padding: 1rem 1.3rem;

  border-radius: 100%;
}
