.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ce009b;
  background-color: #d5b9e1;
  margin: 1rem 2rem;
  padding: 0rem 1rem;
  border-radius: 10px;
  color: #9300ce;
  font-weight: bold;
}
