html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(211, 211, 211);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.box .percent {
  width: 70px;
  height: 70px;
  position: relative;
}
.box .percent svg {
  width: 70px;
  height: 70px;
  position: relative;
}
.box .percent svg circle {
  width: 70px;
  height: 70px;
  fill: none;
  stroke-width: 4;
  transform: translate(5px, 5px);
  stroke-dasharray: 186;
  stroke-dashoffset: 186;
  stroke-linecap: round;
}
.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #081c22;
}

.box .percent .num {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
}
.box .percent .num h2 {
  font-size: 20px;
  color: white;
}
.outer-circ {
  position: absolute;

  height: 75px;
  width: 75px;
}
.circ {
  fill: #0d2e38;
  transform: translate(15px, 15px);
  display: flex;
  align-items: center;
}
.box {
  position: relative;
  /* padding: 0; */
  margin: 0;
}

.percent {
  margin-left: 0.1rem;
}

.whole-circ {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-circ {
  margin-left: 0.15rem;
  margin-top: 0.1rem;
}
.circ-container {
  position: absolute;
  top: -1.5rem;
  right: -1rem;
}
